.bg-img{
      background-image: url(../img/login.jpg);
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
}

.bg-indigo{
    background-color:#364fc7 ;
}

.link{
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}